# Running environment: "dev" | "production"
# In dev, cookies use Secure=false
Env = "production"

# Base URL of server
# e.g. "http://localhost:52849", "https://sub.mydomain.com"
BaseURL = "http://localhost:52849"

# HTTP service address to listen on
HTTPServiceAddress = ":52849"

# Local path to the pass password-store directory.
# The repository specified by PasswordsGit will be cloned to the specified path
# if it does not exist.
PasswordStoreDir = "path/to/password-store"

# Google account emails to allow to sign in and access passwords
AllowedEmails = ["hikingfan@gmail.com"]

# used for Google Sign In
# see https://console.cloud.google.com/apis/credentials
GoogleClientID = ""
GoogleClientSecret = ""

# see https://github.com/gorilla/securecookie#examples
CookieHashKey = ""
CookieBlockKey = ""

# path to SSH private key file
# used to clone the pass git repository
SSHPrivateKeyFile = "path/to/ssh/id_ed25519"

# pass git repository remote
PasswordsGit = "example@example.com:foo/bar.git"
