# Running environment: "dev" | "production"
# In dev, cookies use Secure=false
Env = "production"

# Base URL of server
# e.g., "http://localhost:52849", "https://sub.mydomain.com"
BaseURL = "http://localhost:52849"

# HTTP service address to listen on
HTTPServiceAddress = ":52849"

# Location of pass's password store directory.
# The repository specified by PasswordsGit will be cloned to the directory
# if it does not exist.
PasswordStoreDir = "password-store"

# emails to allow to sign in and access passwords
AllowedEmails = ["hikingfan@gmail.com"]

# see https://console.cloud.google.com/apis/credentials
GoogleClientID = "todo"
GoogleClientSecret = "todo"

# see https://github.com/gorilla/securecookie#examples
CookieHashKey = "todo"
CookieBlockKey = "todo"

# path to SSH private key file
SSHPrivateKeyFile = "todo"

# Password Store Git location
PasswordsGit = "example@example.com:foo/bar.git"
