# Running environment: "dev" | "production".
# In dev, cookies use Secure=false.
# In production, cookies use Secure=true.
Env = "production"

# Base URL of server, e.g. "http://localhost:52849", "https://sub.mydomain.com".
# Used in Google Auth redirect path.
BaseURL = "http://localhost:52849"

# Address to serve tbe application on.
HTTPServiceAddress = ":52849"

# Emails of Google accounts allowed to sign in and access passwords.  (The GPG
# passphrase used by pass is always required to view each password in addition
# to this requirement.)
AllowedGoogleAccounts = ["hikingfan@gmail.com"]

# Clone URL for pass Git repository.
GitRepository = "git@example.com:foo/passwords.git"

# Main branch of pass Git repository, e.g. "main", "master".
GitBranch = "main"

# Local path to pass's password store directory.  On your local machine, this
# is typically ~/.password-store.  You may wish to use a different path in
# your production environment.  The Git repository specified by GitRepository
# will be cloned to the specified path if the path does not exist.
PasswordStoreDir = "path/to/password-store"

# Path to SSH private key file.  Used to clone the pass Git repository
# specified by GitRepository and to fetch changes.
SSHPrivateKeyFile = "path/to/ssh/id_ed25519"

# Used for Google Sign In.
# See https://console.cloud.google.com/apis/credentials to obtain these.
GoogleClientID = "TODO"
GoogleClientSecret = "TODO"

# Hash key and block key for cookies used by the application.
# See https://github.com/gorilla/securecookie#examples to obtain.
CookieHashKey = "TODO"
CookieBlockKey = "TODO"
