:root {
	--blue: #0640e0; /* sr.ht */
}

body {
	font-family: "times new roman", serif;
	margin: 0 auto;
	padding: 10px;
}

a, a:visited {
	color: var(--blue);
}

main {
	padding: 0 2px;
}

input {
	width: 90%;
	max-width: 300px;
}

ul {
	overflow-x: auto;
	padding-left: 0;
	padding-right: 0;
	list-style: none;
	line-height: 1.5;
}

.hidden {
	display: none !important;
}
