:root {
	--fg: #333;
}

body {
	font-family: "cantarell", "roboto", -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
	margin: 0 auto;
	padding: 10px;
	font-weight: 500;
}

a {
	color: var(--fg);
	text-decoration: none;
}

.underline {
	text-decoration: underline;
}

main {
	padding: 0 2px;
}

input {
	width: 90%;
	max-width: 300px;
}

ul {
	overflow-x: auto;
	padding-left: 0;
	padding-right: 0;
	list-style-type: none;
	line-height: 1.5;
}

.hidden {
	display: none !important;
}

code {
	font-family: "Inconsolata", monospace;
}

pre.name, pre.content {
	font-family: "Inconsolata", monospace;
	overflow-x: auto;
	background: #eee;
	padding: 1em;
	max-width: 400px;
}
