<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/style.css">
	<title>Passwords</title>
</head>
<body>
	<main>
		<h1>Passwords</h1>
		<p class="email">{{ .Email }}</p>
		<p><a class="underline" href="/logout">Log out</a></p>
		<p>
			<code>{{ .Commit }}</code> (<a class="underline" href="/git-pull">git-pull</a>)
		</p>
		<p>
			<input class="filter" type="text" placeholder="Filter" />
		</p>
		<p>
			<ul>
				{{- range .Items }}
				<li class="item"><a href="/p?name={{ . }}">{{ . }}</a></li>
				{{ end -}}
			</ul>
		</p>
	</main>
	<script type="text/javascript">
		const input = document.querySelector(".filter");

		input.addEventListener("keyup", () => {
			const term = input.value.trim().toLowerCase();
			const items = document.querySelectorAll(".item");

			for (const item of items) {
				const t = item.textContent.toLowerCase();
				const show = t.includes(term) || term == "";
				item.classList.toggle("hidden", !show);
			}
		});
	</script>
</body>
</html>
