<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/style.css">
	<title>Passwords</title>
</head>
<body>
	<main>
		<h1>Passwords</h1>
		<p class="email">{{ .Email }}</p>
		<p><a class="underline" href="/logout">Log out</a></p>
		<p><a class="underline" href="/">All passwords</a></p>
		<p><button class="show">Show password</button></p>
		<p><pre class="name">{{ .Name }}</pre></p>
		<p><pre class="content"></pre></p>
		<p class="error hidden">something went wrong. try again.</p>
		<p class="fetching hidden">fetching...</p>
	</main>
	<script type="text/javascript">
		const name = {{ .Name }};
	</script>
	<script type="text/javascript">
		const showButton = document.querySelector(".show");
		const error = document.querySelector(".error");
		const fetching = document.querySelector(".fetching");
		const content = document.querySelector(".content");

		showButton.addEventListener("click", async () => {
			const gpgPassphrase = window.prompt("Enter GPG passphrase");
			if (!gpgPassphrase) {
				return;
			}

			try {
				fetching.classList.remove("hidden");

				const rsp = await fetch(`/api/show?` +
					`name=${encodeURIComponent(name)}` +
					`&gpg-passphrase=${encodeURIComponent(gpgPassphrase)}`);

				if (rsp.status != 200) {
					error.classList.remove("hidden");
					return;
				}

				error.classList.add("hidden");
				content.textContent = await rsp.json();
			} catch (e) {
				console.error(e);
				error.classList.remove("hidden");
			} finally {
				fetching.classList.add("hidden");
			}
		});
	</script>
</body>
</html>
